body {
    background-color: #282c34;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

h1 {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#quiz-container, #results-container {
    background-color: #3c3f46;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.weapon-name {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5a5e68;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-btn:hover {
    background-color: #737880;
}

.progress {
    margin-top: 20px;
    font-size: 1rem;
}

.hidden {
    display: none;
}